<div class="container">
<header>
<h1>Salon Scheduler</h1>
<div class="manageStylists">
<h3><a href="/stylists">Manage Stylists</a></h3>
</div>
</header>
<div class="jumbotron">
  <!-- <img src="mainImage.jpg" alt="hair style"> -->
</div>
<footer>
<h6>Contact us for an appointment</h6>
<a href="tel:555-555-1234">555-555-1234</a>
<br>
<a href="mailto:manager@epicodussalon.com">manager@epicodussalon.com</a>
</footer>
</div>
